[submodule "publications"]
	path = publications
	url = ../../trailofbits/publications.git
[submodule "divergent-representations"]
    path = divergent-representations
    branch = main
    url = ../../trailofbits/divergent-representations.git
