[submodule "publications"]
	path = publications
	url = https://github.com/trailofbits/publications
[submodule "divergent-representations"]
    path = divergent-representations
    branch = main
	url = https://github.com/trailofbits/divergent-representations
